form.link {
  display: inline;
}

div.page-header {
  margin-top: 0;

  h2 {
    margin: 5px 0;

    .btn {
      margin-top: 10px;
    }
  }
}

.event-card {
  .caption {
    h4 {
      margin-top: 5px;
    }

    .who-when-where {
      border-top: 1px solid #d2d2d2;
      padding: 5px 0;

      p {
        margin: 0;
        text-transform: uppercase;
        font-size: 1.2em;

        span {
          float: right;
        }
      }
    }
  }
}
