.navbar-fixed-top + .container {
  margin-top: 80px;
}

.navbar .divider-vertical {
    height: 64px;
    margin: 0 12px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f0f0f0;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}
